body, html{
    font-family: 'Roboto', sans-serif !important;
    background: #3867d6 !important;
    color: white !important;
    height:100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

.clearfix{
    clear: both;
}

/* Notification */

.notification{
    padding: 10px 15px 10px 10px;
    min-width: 300px;
    max-width: 350px;
}
.notification_list{
    position: absolute;
    bottom: 20px;
    list-style-type: none;
}
.notification_list li{
    margin-bottom: 10px;
}
.notification small{
    opacity: 0.7;
}

.success_notification{
    background: #2ecc71;
    font-weight: bold;
    border-left: 6px solid #27ae60;
}
.warning_notification{
    background: #f39c12;
    font-weight: bold;
    border-left: 6px solid #f39c12;
}
.error_notification{
    background: #e74c3c;
    font-weight: bold;
    border-left: 6px solid #c0392b;
}
.info_notification{
    background: #0287d0;
    font-weight: bold;
    border-left: 6px solid #0077c0;
}

#close_notification{
    background: #e74c3c;
    border: 2px solid white;
    border-radius: 8px;
    padding: 2px 8px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s ease-in-out background;
    float: right;
}
#close_notification:hover{
    background: #c0392b;
    transition: 0.3s ease-in-out background;
}

#deleteAllNotifications{
    bottom: 0;
    left: 0;
    position: absolute;
    background: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 0 8px 0 0;
    transition: 0.3s ease-in-out background;
}
#deleteAllNotifications:hover{
    bottom: 0;
    left: 0;
    position: absolute;
    background: #bdc3c7;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 0 8px 0 0;
    transition: 0.3s ease-in-out background;
}
#amountNotifications{
    border-radius: 200px;
    background: red;
    min-width: 18px;
    display: -moz-inline-grid;
    color: white;
    font-weight: bold;
    height: 18px;
    padding: 1px;
    margin-right: 5px;
}

#settingsDialogWindow{
    position: fixed;
    z-index: 555;
    background: rgba(0,0,0,.3);
    width: 100%;
    height: 100%;
    display: none;
}

/* Settings window */
.dialogWindowContent{
    background: white;
    color: black;
    width: 35%;
    top: 40%;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    padding: 8px;
    border: 3px solid whitesmoke;
    box-shadow: 0 0 35px -1px rgba(0,0,0,.5);
}
.dialogWindowContent h1{
    text-align: center;
}
.dialogWindowContent p.settingsVersion{
    font-size: small;
    text-align: right;
    color: darkgrey;
}
#closeSettingsDialogWindow{
    border: none;
    background: none;
    color: #e74c3c;
    font-size: 25pt;
    position: relative;
    transition: 0.3s ease-in-out color;
    cursor: pointer;
    float: right;
}
#closeSettingsDialogWindow:hover{
    border: none;
    background: none;
    transition: 0.3s ease-in-out color;
    color: #c0392b;
    font-size: 25pt;
    position: relative;
    cursor: pointer;
    float: right;
}

.settingsList{
    list-style-type: none;
}
.notificationSettingsOption{
    opacity: 1.0 !important;
}


.contributeButton{
    padding: 7px;
    background: #4b7bec;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 14pt;
    border-radius: 4px;
    transition: 0.3s ease-in-out background;
}
.contributeButton:hover{
    background: #3867d6;
    transition: 0.3s ease-in-out background;
}

/* */

/* Settings button down right */
#settingsButton{
    bottom: 0;
    right: 0;
    position: absolute;
    background: white;
    border: none;
    padding: 10px 15px;
    border-radius: 8px 0 0 0;
    transition: 0.3s ease-in-out background;
    cursor: pointer;
}
#settingsButton:hover{
    background: #bdc3c7;
    transition: 0.3s ease-in-out background;
}

/* Progress Bar */
#progressBar{
    position: absolute;
    width: 100%;
    height: 3px;
}
#progressBarInner{
    background: white;
    width: 1%;
    height: 3px;
    left: 0;
    box-shadow: 1px 1px 5px 1px white;
}
#wrapper{
    height:100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}
#wrapper td{
    vertical-align: middle;
    text-align: center;
}
h2{
    text-align: center;
    font-size: 25px;
}
h1.bitcoinPrice{
    text-align: center;
    font-size: 160px;
    font-weight: 900;
    margin: 0;
    text-shadow: 0 3px 4px rgba(0,0,0,.5);
}

/* API Link */
.apiLink{
    opacity: 0.3;
}

p a{
    color: white;
    font-weight: bold;
}

/* Switch slider designs */
/* Thanks to this tutorial https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_switch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
    vertical-align: middle;
    margin-left: 10px;
    margin-bottom: 5px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}